.progress{
  height: 28px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  color: white;
  border-radius: 10px;
}
.app{
  width: 70%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
}
.main{
  width: auto;
  height: 50vh;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
button{
  margin-top: 20px;
  background-color: rgb(12, 11, 11);
  width: auto;
  color: white;
  padding: .5rem;
border-radius: 10px;
cursor: pointer;
margin-right: 1rem;
}
h1{
  color:  green;
  text-transform: uppercase;
  font-weight: bolder;
  width: 80%;
  padding: 2rem;
}
.apps{
  width: 80%;
  padding: 2rem;
}
.auto{
  border: 1px solid rgb(224, 221, 221);
  width: 31px;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
}
.autoprogress{
  position: absolute;
  bottom: 0;
  width: 28px;
 text-align: center;
 color: white;
 font-weight: bolder;
 padding: .1px;
}
.autoStop{
  display: flex;
  gap: 10rem;
}

.active{
  opacity: 0.2;
}
.disabled{
  opacity: 1;
}